@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none !important;
}
/* .nav-tek{
    background-color: #fff;
}

.nav-tek .navbar-nav .active>.nav-link, .nav-tek .navbar-nav .nav-link.active, .nav-tek .navbar-nav .nav-link.show, .nav-tek .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar a {
    color: #fff;
} */

.footer {
    background-color: #E9ECEF;
    color: #000;
}

.middle {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.middle span {
    background-color: #fff;
    padding:0 10px;
}