@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none !important;
}
.site-header {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.blog-footer {
    padding: 1rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.0rem;
}
.blog-post-meta {
    margin-bottom: 10px;
    color: #999;
}
/* .nav-tek{
    background-color: #fff;
}

.nav-tek .navbar-nav .active>.nav-link, .nav-tek .navbar-nav .nav-link.active, .nav-tek .navbar-nav .nav-link.show, .nav-tek .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar a {
    color: #fff;
} */

.footer {
    background-color: #E9ECEF;
    color: #000;
}

.middle {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.middle span {
    background-color: #fff;
    padding:0 10px;
}